.MostRelatedSoftware__list {
  width: 120rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.MostRelatedSoftware__item {
  font-size: 1.7rem;
  text-align: center;
}

.MostRelatedSoftware__item span {
  border-bottom: 2px solid #000;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .MostRelatedSoftware__list {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
  }
}

@media (max-width: 767px) {
  .MostRelatedSoftware__list {
    width: auto;
    flex-direction: column;
    height: 55rem;
  }

  .form__input-containers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    width: 100%;
  }

  .form__input-containers input {
    width: 100%;
  }

  .form__input-containers input:first-child {
    order: 1;
  }
} ;
