.MostRelatedSoftware__list {
  width: 120rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.MostRelatedSoftware__item {
  font-size: 1.7rem;
  text-align: center;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
  user-select: none;
  transition: 0.3s;
}

.MostRelatedSoftware__item:hover {
  background-color: #eedd45;
}

.MostRelatedSoftware__item span {
  border-bottom: 2px solid #000;
}

.field__title {
  font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .MostRelatedSoftware__list {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
  }
}

@media (max-width: 767px) {
  .MostRelatedSoftware__list {
    width: auto;
    flex-direction: column;
    height: 55rem;
  }

  .form__input-containers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    width: 100%;
  }

  .form__input-containers input {
    width: 100%;
  }

  .form__input-containers input:first-child {
    order: 1;
  }
} ;
