.container {
  border-top: 2px solid #e8e8e8;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 30px;
  position: relative;
}

.mostSoftWares {
  min-height: 40vh;
  justify-content: space-around;
}

.big-height {
  height: auto;
}

.contactUs {
  height: auto;
}

.loading-text,
.error-text {
  font-size: 50px;
  padding-top: 50px;
  height: 20rem;
}

.loading-text {
  color: #b96900;
}

.error-text {
  color: #720101;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .big-height {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .container {
    justify-content: space-around;
    padding-top: 10px;
  }

  .big-height {
    height: 50rem;
  }
} ;
