.container {
  border-top: 2px solid #e8e8e8;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 30px;
  position: relative;
}

.mostSoftWares {
  min-height: 40vh;
  justify-content: space-around;
}

.big-height {
  height: auto;
}

.services-part {
  min-height: 35rem;
  justify-content: space-around;
}

.contactUs {
  height: auto;
}

.fields-page {
  min-height: 40rem;
  justify-content: space-around;
}

.loading-text,
.error-text {
  font-size: 50px;
  padding-top: 50px;
  height: 20rem;
}

.loading-text {
  color: #b96900;
}

.error-text {
  color: #720101;
  margin-top: 50px;
}

.smallCardList {
  width: 80%;
}

.sm-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.lab__name {
  background-color: #e9e9e9;
  color: #0875be;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  user-select: all;
  cursor: pointer;
  transition: 0.3s;
}

.lab__name:hover {
  color: #b96900;
  transform: scale(1.1);
}

.soft__cards {
  margin-top: 25px;
  width: 80%;
  min-height: 35rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.soft__card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.soft__card:hover {
  transform: translateY(-5px);
}

.soft__icon img {
  width: 200px;
}

.soft__name {
  font-size: 20px;
  text-transform: uppercase;
  color: #0875be;
  font-weight: bold;
}

.soft__likes img {
  width: 50px;
}

.soft__likes span {
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .big-height {
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .container {
    justify-content: space-around;
    padding-top: 10px;
  }

  .big-height {
    height: 50rem;
  }
} ;
