.font {
  font-size: 3.5rem;
}

.reviews-title {
  width: 80%;
  margin: 0 auto;
}

.center {
  width: 180px;
  margin: 20px auto 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .font {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .font {
    font-size: 2rem;
    text-align: center;
  }
} ;
