.result__Fields input {
  height: 100%;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
}

.field__result {
  font-size: 15px;
  border-radius: 8px;
  font-weight: bold;
}

.result__Fields {
  background-color: #eee;
  padding: 4px;
  border-radius: 8px;
}

.labs {
  direction: rtl;
}

.inputBoxes {
  margin-bottom: 15px;
}

.inputBoxes input {
  border-radius: 5px;
  border: 0;
  padding: 8px;
  border: 1px solid #000;
  margin-right: 8px;
  font-family: Parastoo;
  direction: rtl;
  font-weight: bold;
}

.inputBoxes input:focus {
  outline: 0;
  border-color: #017dcf;
  border-width: 3px;
}

.result__Fields input:focus {
  outline: none;
}

.addSoftware__textbox {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.addSoftware__title {
  font-size: 35px;
  margin-bottom: 8px;
  direction: rtl;
}

.addSoftware__decription {
  width: 50%;
  font-size: 15px;
  margin: 0 auto;
}

.addSoftware__form {
  text-align: end;
  padding: 20px 50px;
}

.form input:required + label::before {
  content: "*";
  width: 20px;
  height: 20px;
}

.form__programIcon img {
  width: 100px;
}

.form__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form__inputbox {
  width: 400px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form__input {
  width: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #000;
  direction: rtl;
}

.form__input--link {
  direction: ltr;
}

.form__inputbox--check {
  width: 600px;
  font-size: 15px;
}

.form__inputbox--link {
  width: 800px;
}

.form__inputbox--link input {
  width: 70%;
}

.form__inputbox--description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 800px;
}

.form__input:focus {
  outline: 0;
}

.form__programIcon {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__softwar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.form__select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  padding: 5px 2px;
  margin-left: 20px;
}

.form__label {
  font-size: 15px;
}

.form__inputbox--file {
  width: 80rem;
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  width: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 12px;
  background-color: #ebebeb;
  text-align: center;
  padding: 5px 10px;
  color: #000;
  font-weight: bold;
}

input[type="file"] + label:hover {
  cursor: pointer;
}

.form .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
}

.form__textarea {
  margin-top: 10px;
  border-radius: 10px;
  height: 200px;
  padding: 10px;
  direction: rtl;
}

.form__btn--submit input {
  background-color: #e8e8e8;
  width: 100px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 0;
  font-weight: bold;
  background-color: #017dcf;
  color: #fff;
  cursor: pointer;
}

.form__hint {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__hint p {
  font-size: 12px;
}

.form__hint-icon {
  width: 20px;
  display: flex;
  align-items: flex-start;
  margin-right: 8px;
}

.form__hint-icon:hover {
  cursor: pointer;
}
/* form grid */
.form-grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  direction: rtl;
  margin-bottom: 70px;
  margin-top: 25px;
}

.form__add-text {
  font-size: 15px;
  margin-bottom: 15px;
  direction: ltr;
}

.form__item {
  display: flex;
  /* justify-content: space-between; */
}

.helper {
  width: 70%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.hint-text {
  font-size: 12px;
  font-weight: bold;
}

.hint-text::before {
  content: url("../../assets/img/plus-circle.svg");
  cursor: pointer;
}

.searching {
  font-weight: bold;
}

.error-add {
  font-size: 20px;
  width: 400px;
  background-color: #fd7777;
  color: #e8e8e8;
  font-weight: bold;
}

.alert {
  font-size: 20px;
  font-weight: bold;
}

.form__result__container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  margin: 50px 0;
  align-items: center;
}

.form__soft--lab {
  position: relative;
}

.form__inputbox--select {
  width: 1400px;
  display: flex;
  flex-direction: row;
}

.paltforms__checboxes {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}

.paltforms__checboxes div {
  display: flex;
  align-items: center;
}
.paltforms__checboxes div label {
  margin-right: 2px;
}

input[type="text"],
input[type="email"] {
  transition: 0.2s;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #017dcf;
  border-width: 3px;
}

textarea:focus {
  outline: 0;
}

option {
  font-family: Parastoo;
}

.form__inputbox--link {
  height: auto;
  justify-content: space-between;
}

.form__inputbox--link input {
  width: auto;
}
/* ------------- */
@media (min-width: 768px) and (max-width: 1024px) {
  .form__inputbox--link {
    width: 100%;
  }

  .form__textarea {
    width: 50rem;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .form__inputbox--link {
    width: 100%;
  }

  .form__textarea {
    margin: 0 auto;
  }

  .form__programIcon {
    display: none;
  }

  .form__inputbox {
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }

  .form__label {
    order: -1;
  }

  .form__user {
    justify-content: center;
    width: 100%;
  }

  .form__requiredInfos {
    width: 100%;
  }

  .addSoftware__form {
    padding: 10px;
  }

  .form__input {
    width: 100%;
  }

  .form__inputbox {
    flex-direction: column;
    align-items: flex-end;
  }
}
