.services__list {
  width: 120rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.services__item {
  width: 30rem;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__icon {
  margin-right: 1.5rem;
}

.services__icon img {
  width: 5rem;
}

.services__description h4 {
  font-size: 2rem;
  font-weight: normal;
}

.services__description p {
  font-size: 1.4rem;
}

@media (max-width: 767px) {
  .services__list {
    width: auto;
    flex-direction: column;
    height: 70rem;
  }

  .services__icon img {
    width: 4rem;
  }

  .services__description h4 {
    font-size: 18px;
  }

  .services__description p {
    font-size: 14px;
  }
} ;
