.services__list {
  width: 120rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.services__item {
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: rtl;
}

.services__icon {
  margin-left: 1.5rem;
}

.services__icon img {
  width: 5rem;
}

.services__description {
  user-select: none;
}

.services__description h4 {
  font-size: 2rem;
  font-weight: bold;
  /* margin-bottom: 3px; */
}

.word-link {
  color: #2e83f1;
  font-weight: bold;
  text-decoration: underline;
}

.services__description p {
  font-size: 1.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .services__list {
    padding: 0 20px;
    width: 100%;
    height: 50rem;
    flex-direction: column;
  }

  .services__item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .services__list {
    width: auto;
    flex-direction: column;
    height: 70rem;
  }

  .services__icon img {
    width: 4rem;
  }

  .services__description h4 {
    font-size: 18px;
  }

  .services__description p {
    font-size: 14px;
  }
} ;
