.searchcontainer {
  display: flex;
  width: 100%;
  min-height: 50vh;
  margin-top: 20px;
}
/* ---------------------------------- */

.left {
  width: 25%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.left__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.left__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.left__subList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  min-height: 20rem;
  /* margin-right: 55px; */
}

.left__subList li {
  cursor: pointer;
  transition: 0.3s;
}

.left__subList li:hover {
  color: #168bce;
}
.subject {
  display: flex;
  justify-content: space-between;
}
/* ---------------------------------- */

.text {
  font-size: 17px;
}

.icon {
  width: 25px;
  margin: 0 0 0 8px;

  cursor: pointer;
}
/* ---------------------------------- */

.middle {
  width: 100%;
  padding-top: 10px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-card__icon {
  width: 100px;
}
/* ---------------------------------- */

.right {
  width: 25%;
}

.featureItem {
  font-size: 18px;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featureItem__data {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.featureItem__data--date {
  width: 100%;
}

.featureItem__data img {
  width: 40px;
}

.featureItem__data span {
  margin-left: 8px;
}

.checkitem {
  font-size: 16px;
}

.selectbox {
  text-align: center;
  margin-bottom: 10px;
}

.selectbox__title {
  font-size: 16px;
  margin-bottom: 8px;
}

.selectbox__input {
  width: 80%;
  height: 30px;
  border-radius: 8px;
}

.selectbox__input:focus {
  outline: none;
}

.form-right {
  width: 200px;
  margin: 0 auto;
}

.checkList {
  text-align: center;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkitem,
.radioitem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkitem__input {
  margin-right: 5px;
}

.radioList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 17px;
  text-align: center;
  height: 15rem;
}

.radio__item {
  margin-right: 10px;
}

.form-btn {
  display: block;
  width: 100px;
  padding: 5px;
  margin: 10px auto 0;
  font-size: 15px;
  background-color: #1464f6;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.onOff {
  display: flex;
  justify-content: space-evenly;
}

.featureList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/* ----------------------------------------------------- */

.middle-card {
  width: 80rem;
  min-height: 30rem;
  display: flex;
  padding: 20px;

  align-items: center;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.1);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 4px 2px 10px #d6d6d6;
}

.middle-card:hover {
  cursor: pointer;
}

.rigtPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.software__statistics__item {
  font-size: 14px;
}

.software__statistics__item img {
  width: 30px;
}

.leftPart img {
  width: 20rem;
}

.software__statistics {
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

.software__description {
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
  line-height: 1.8;
  border-top: 2px dashed #424242;
  padding-top: 8px;
}

.software__description p {
  font-size: 15px;
}

.title {
  font-weight: bold;
}

.software__url {
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.software__url {
  text-align: center;
  margin-top: 10px;
}

.software__url a {
  color: #168bce;
  text-decoration: underline;
}

/* ------------------------------ */
/* Media Queri */
@media (min-width: 768px) and (max-width: 1024px) {
  .searchcontainer {
    flex-direction: column;
    margin: 0 auto;
  }
  .middle {
    border: 0;
    width: 100%;
  }

  .left {
    width: 100%;
  }

  .left__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .right {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .middle-card {
    width: 20rem;
    height: 30rem;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    border: 2px solid #000;
    border-radius: 4rem;
    /* box-shadow: 4px 2px 10px #d6d6d6; */
  }

  .featureList {
    /* height: auto; */
    height: 20%;
  }

  .searchcontainer {
    flex-direction: column;
    min-height: auto;
  }

  .left,
  .right,
  .middle {
    width: 100%;
  }

  .right {
    min-height: 80vh;
  }

  .left {
    justify-content: center;
  }
}
