.header {
  background-color: #fafafa;
  height: 100vh;
  position: relative;
}

.header__box {
  width: 90%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__box--sm {
  top: 80%;
}

.header__intro {
  text-align: center;
}

.header__title {
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.header__title--sm {
  margin: 0;
}

.header__description {
  font-size: 1.6rem;
}

.header__line {
  width: 20rem;
  height: 2px;
  margin: 3rem auto 0;
  background-color: #d8d8d8;
}

.header__searchbar {
  width: 45rem;
  position: relative;
  margin-top: 4rem;
}

.header__searchbar input {
  width: 100%;
  height: 5rem;
  padding: 3rem;
  direction: rtl;
  font-family: inherit;
  font-weight: bold;
  border-radius: 3rem;
  border: 1px solid #000;
}

.header__searchbar input:focus {
  outline: 0;
}

.header__icon {
  position: absolute;
  top: 20%;
  left: 2%;
}

.header__icon img {
  width: 3.5rem;
  cursor: pointer;
}

.type-2 {
  height: 50vh;
}

.type-3 {
  height: 25vh;
}

.header__small input {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__small {
  position: absolute;
  top: 20%;
  left: 2%;
}

.icon__small img {
  width: 2.5rem;
}

.reducePadding input {
  padding: 1rem;
  width: 25rem;
  height: 4rem;
}

.reducePadding .header__icon img {
  width: 2.5rem;
}

.reducePadding .header__icon {
  top: 15%;
}

.listOfDatas {
  list-style: none;
  background: #201f1fb6;
  position: absolute;
  right: 5%;
  width: 400px;
  direction: rtl;
  color: #fff6f6;
  font-size: 18px;
  height: 200px;
  overflow-y: scroll;
  padding-right: 10px;
}

.listOfDatas li {
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.listOfDatas li:hover {
  background-color: #00b7ff;
}

.header.type-3 .listOfDatas {
  left: 0%;
  right: 0%;
  width: 250px;
  z-index: 9999;
}

.field__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 60rem;
  margin-top: 50px;
}

.field__card,
.lab__card {
  background-color: #f7f7f7;
  text-align: center;
  height: 120px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 2px 2px 10px #000;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.lab__card {
  height: 150px;
}

.field__card:hover {
  transform: translateY(-3px);
}

.field__name {
  font-size: 18px;
  color: #00b7ff;
  font-weight: bold;
}

.field__nol,
.field__nos {
  font-size: 16px;
}

.field__searchbar {
  width: 45rem;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.field__searchbar input {
  width: 100%;
  height: 5rem;
  padding: 3rem;
  direction: rtl;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3rem;
  border: 1px solid #000;
}

.fields__container {
  margin-top: 40px;
}

.field__searchbar input:focus {
  outline: 0;
}

/*  Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 80vh;
    position: relative;
  }

  .header__description {
    width: 70%;
    text-align: center;
  }

  .navbar__logo {
    width: 70px;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .navbar-with-searchFiled + .navbar__list .navbar__item:not(:last-child) {
    display: none;
  }

  .navbar-with-searchFiled + .navbar__list {
    justify-content: end;
  }

  .header.type-3 {
    height: 35vh;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 8px;
  }

  .navbar__logo {
    width: 60px;
  }

  .navbar__item:not(:last-child) {
    display: none;
  }

  .navbar__list {
    width: auto;
  }

  .header {
    height: 75vh;
  }
  .header__searchbar {
    width: auto;
  }

  .header__description {
    font-size: 14px;
    width: 30rem;
    text-align: center;
  }

  .header__title {
    font-size: 20px;
    margin-bottom: 0;
  }

  .type-2 {
    height: 50vh;
  }

  .type-3 {
    height: 30vh;
  }
}

.hide {
  display: none;
}

.next {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
  margin: 0 auto;
  cursor: pointer;
}

.next img {
  width: 30px;
}

.next span {
  font-size: 18px;
  font-weight: bold;
  color: #00b7ff;
}
