.line {
  width: 25rem;
  height: 2px;
  margin: 3rem auto 0;
  background-color: #d8d8d8;
}

.line--footer {
  margin: 0;
}

.line--review {
  margin: 30px 80px;
}

@media (max-width: 767px) {
  .line {
    display: none;
  }
} ;
