.software__icon {
  width: 25px;
}

.software__details {
  max-width: 1200px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
}

.softwareNameAndIcon {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.softwareName {
  text-transform: uppercase;
  font-weight: 700;
}

.softwarelogo {
  width: 70px;
}

.softwareLikesAndViews {
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.likes-views {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.likes-views div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  margin-left: 8px;
  font-size: 15px;
}

.addSection {
  font-size: 15px;
  text-decoration: underline;
}

.addSection span {
  color: #0c59cf;
}

.softwareDescription {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  border-bottom: 2px solid #000;
  padding-bottom: 30px;
}

.softwareDescription h3 {
  font-size: 18px;
}

.softwareDescription p {
  font-size: 15px;
}

.snapshot {
  max-width: 1200px;
  margin: 0 auto;
}

.snapshot-gallery {
  width: 50%;
  text-align: center;
  font-size: 18px;
}

.addDate {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  user-select: none;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}

.addDate .title {
  border-bottom: 2px solid #000;
}

snapshotItem > :nth-child(2) {
  background: rgb(71, 230, 111);
}
.snapshotInfo {
  min-height: 300px;
  width: 50%;
}

/* .snapshot__links a:nth-child(2),
.snapshot__links p:nth-child(2) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 0 10px;
} */

.status {
  font-size: 18px;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

.status div {
  display: flex;
  align-items: center;
}

.status label {
  margin-left: 12px;
}

.review {
  max-width: 1200px;
  margin: 20px auto 0;
}

.review__icon {
  width: 40px;
}

.review__item {
  display: flex;
  justify-content: space-around;
}

.review__text {
  width: 700px;
  font-size: 14px;
  height: 120px;
  color: #5c5c5c;
}

.review__date {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #7ab1f0;
  border-radius: 8px;
  padding: 10px;
}

.review__date h3 {
  font-size: 20px;
}

.review__date div:nth-child(2) {
  font-size: 14px;
}

.review__date div:nth-child(3) {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
}

/* ---- nwe styles ---- */
.snapshotInfoItem {
  border-bottom: 2px dotted #000;
}

.snapshotItem {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px 0;
}

.snapshot__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: auto;
  font-size: 15px;
  min-height: 10rem;
  text-align: center;
}

.snapshot__links a {
  font-weight: bold;
  transition: 0.3s;
  color: #0c59cf;
}

.snapshot__links a:hover {
  transform: scale(1.1);
}

.snapshot__title {
  font-size: 18px;
  width: auto;
  text-align: center;
}

.snapshotInfo {
  height: 100%;
  width: 50%;
}

.snapshot__pdf {
  text-align: center;
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
  margin-top: 50px;
}

.snapshot__pdf h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.snapshot__pdf iframe {
  width: auto;
  height: auto;
}

.snapshotDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding-top: 20px;
}

.slider {
  width: 50%;
  background: #ee8c8c;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form__inputbox--link {
    width: 100%;
  }

  .form__textarea {
    width: 50rem;
    margin: 0 auto;
  }

  .snapshotDetails {
    flex-direction: column;
  }

  .snapshot-gallery {
    width: auto;
  }

  .snapshotDetails {
    height: 700px;
  }

  .snapshotInfo {
    margin: 0 auto 50px;
  }

  .review__item {
    flex-direction: column;
    align-items: center;
    height: 350px;
  }

  .review__item p {
    text-align: center;
    width: auto;
  }
}

@media (max-width: 768px) {
  .software__details {
    flex-direction: column;
    align-items: center;
  }

  .snapshotDetails {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .softwareLikesAndViews {
    background-color: #97f8ff;
    border-radius: 10px;
    padding: 10px;
  }

  .softwareDescription {
    padding: 0 10px;
  }

  .snapshotInfo {
    width: 70%;
    margin: 0 auto 50px;
  }

  .snapshotItem {
    flex-direction: column;
    justify-content: center;
  }

  .snapshot__links {
    justify-content: space-between;
  }

  .review__item {
    flex-direction: column;
    align-items: center;
    height: 350px;
  }

  .review__item p {
    text-align: center;
    width: auto;
  }
}
